/* HEADINGS */
h2{
@include font($font: "Lato-Light");

}

h3{
  @include font($font: "Lato-Black");
  color: $dark;

}
/* FONT SIZES */
.fs-7{
  font-size: 0.75rem;
}
/* WIDTH */
.w-46{
  width: 46%
}

/* BUTTON */
.jd-btn{
  @include font($font: "Lato-Black");
  letter-spacing: 0;
 &:hover{
   background: $info;
 }
}
/* BRANDS ANIMATION */
.fa-brands:hover {
  animation: heartbeat 1.5s ease-in-out infinite both;
}

.fa-rss:hover {
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes text_color {
  0% {
    color: red;
  }
  15% {
    color: cornsilk;
  }
  30% {
    color: darkviolet;
  }
  45% {
    color: gray;
  }
  60% {
    color: yellow;
  }
  75% {
    color: chocolate;
  }
  90% {
    color: cornflowerblue;
  }
  100% {
    color: rosybrown;
  }

}