h3 {
  color: rgba($dark, 0.75)
}
.img_container {
  position: relative;

}

.img_overlay {

  position: absolute;
  left: 15px;
  top: 10px;
  opacity: 0;
  transition: .5s ease;

}
.img_container:hover .img_overlay {
  opacity: 1;
}

.img_container:hover img {
  opacity: 1;
}
