/* COLORS */
$primary: rgb(217, 217, 217);
$secondary: rgb(255, 103, 96);
$dark: rgb(38, 38, 38);
$light: rgb(248, 248, 248);
$info: rgb(98,98,98);
$success: rgb(49,49,49);

/* CUSTOM COLORS */
$dark-2: rgba(42, 42, 42,1);


/* NAVBAR DARK */
$navbar-dark-color:  $primary;
$navbar-dark-hover-color: $secondary;
$navbar-dark-active-color: rgba($primary, 0.50);
$navbar-dark-brand-color: $primary;
$navbar-dark-brand-hover-color: rgba($primary,1);


/* BUTTONS */
$btn-font-size: 0.75rem;



